In [1]:
from matplotlib import pyplot as plt
import pandas as pd
%matplotlib inline

In [3]:
# 读取数据
data = pd.read_csv(r"D:\Users\Administrator\source\repos\ML_DL_DA\credit_card_train.csv", header=0)

data

,ID,BILL_SEPT,BILL_AUG,BILL_JULY,BILL_JUNE,BILL_MAY,BILL_APRIL,PAY_SEPT,PAY_AUG,PAY_JULY,PAY_JUNE,PAY_MAY,PAY_APRIL,AGE,SEX,EDUCATION,MARRIAGE,DEFAULT
0,1,3913,3102,689,0,0,0,0,689,0,0,0,0,24,Female,University,Married,Yes
1,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,26,Female,University,Single,Yes
2,3,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,34,Female,University,Single,NO
3,4,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,37,Female,University,Married,NO
4,5,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,57,Male,University,Married,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20995,20996,50435,50936,49463,50046,19858,19278,2400,0,2300,1000,1000,1000,49,Male,University,Married,Yes
20996,20997,177917,181465,185074,187053,176805,180826,8000,8000,6500,0,7000,6500,38,Male,University,Single,NO
20997,20998,40356,25023,16392,7467,6727,994,1631,1432,1000,520,1097,2236,38,Male,University,Married,NO
20998,20999,80,89691,91517,72739,389,389,90001,3935,3759,390,390,390,32,Male,University,Married,NO
20999,21000,1261,2522,170,1261,390,390,2522,170,1261,390,390,390,40,Male,High School,Married,NO

In [10]:
data.describe()  # 数据统计

,ID,BILL_SEPT,BILL_AUG,BILL_JULY,BILL_JUNE,BILL_MAY,BILL_APRIL,PAY_SEPT,PAY_AUG,PAY_JULY,PAY_JUNE,PAY_MAY,PAY_APRIL,AGE
count,21000.000000,21000.000000,21000.000000,2.100000e+04,21000.000000,21000.000000,21000.000000,21000.000000,2.100000e+04,21000.000000,21000.000000,21000.000000,21000.000000,21000.000000
mean,10500.500000,50147.675905,48231.491905,4.592351e+04,41736.894095,39699.641190,38291.268476,5518.430476,5.800344e+03,4813.960238,4710.233714,4719.997714,5100.154810,35.415286
std,6062.322162,71488.012985,69347.604454,6.718049e+04,61864.422734,59531.371127,58720.643562,15177.129070,2.145823e+04,16033.465417,15051.068301,15235.663258,17407.021126,9.247169
min,1.000000,-165580.000000,-33350.000000,-1.572640e+05,-170000.000000,-37594.000000,-339603.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,21.000000
25%,5250.750000,3739.750000,3188.000000,2.802250e+03,2340.750000,1751.750000,1206.000000,990.000000,7.790000e+02,326.000000,246.000000,219.750000,12.000000,28.000000
50%,10500.500000,22645.500000,21697.000000,2.020500e+04,18964.500000,18177.000000,17032.000000,2087.000000,2.000000e+03,1600.000000,1494.500000,1500.000000,1419.500000,34.000000
75%,15750.250000,65224.250000,62472.500000,5.888225e+04,51462.500000,49646.500000,48767.250000,5000.000000,5.000000e+03,4100.000000,4000.000000,4000.000000,4000.000000,41.000000
max,21000.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,505000.000000,1.684259e+06,896040.000000,497000.000000,417990.000000,528666.000000,79.000000

In [12]:
data.count()  # 数据统计

ID            21000
BILL_SEPT     21000
BILL_AUG      21000
BILL_JULY     21000
BILL_JUNE     21000
BILL_MAY      21000
BILL_APRIL    21000
PAY_SEPT      21000
PAY_AUG       21000
PAY_JULY      21000
PAY_JUNE      21000
PAY_MAY       21000
PAY_APRIL     21000
AGE           21000
SEX           21000
EDUCATION     21000
MARRIAGE      21000
DEFAULT       21000
dtype: int64

In [15]:
data.isnull()

,ID,BILL_SEPT,BILL_AUG,BILL_JULY,BILL_JUNE,BILL_MAY,BILL_APRIL,PAY_SEPT,PAY_AUG,PAY_JULY,PAY_JUNE,PAY_MAY,PAY_APRIL,AGE,SEX,EDUCATION,MARRIAGE,DEFAULT
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
20999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
# one hot processing
			
onehot = pd.get_dummies(data[['SEX', 'EDUCATION', 'MARRIAGE', 'DEFAULT']])
onehot

,SEX_Female,SEX_Male,EDUCATION_Graduate School,EDUCATION_High School,EDUCATION_Others,EDUCATION_University,MARRIAGE_Married,MARRIAGE_Others,MARRIAGE_Single,DEFAULT_NO,DEFAULT_Yes
0,1,0,0,0,0,1,1,0,0,0,1
1,1,0,0,0,0,1,0,0,1,0,1
2,1,0,0,0,0,1,0,0,1,1,0
3,1,0,0,0,0,1,1,0,0,1,0
4,0,1,0,0,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
20995,0,1,0,0,0,1,1,0,0,0,1
20996,0,1,0,0,0,1,0,0,1,1,0
20997,0,1,0,0,0,1,1,0,0,1,0
20998,0,1,0,0,0,1,1,0,0,1,0
20999,0,1,0,1,0,0,1,0,0,1,0

In [6]:
data['ID']
data['BILL_SEPT']
data['BILL_AUG']
data['BILL_JULY']
data['BILL_JUNE']
data['BILL_MAY']
data['BILL_APRIL']
data['PAY_SEPT']
data['PAY_AUG']
data['PAY_JULY']
data['PAY_JUNE']
data['PAY_MAY']
data['PAY_APRIL']
data['AGE']
data['SEX']
data['EDUCATION']
data['MARRIAGE']
data['DEFAULT']

0        Yes
1        Yes
2         NO
3         NO
4         NO
        ...
20995    Yes
20996     NO
20997     NO
20998     NO
20999     NO
Name: DEFAULT, Length: 21000, dtype: object

In [ ]:
['ID']
['BILL_SEPT']
['BILL_AUG']
['BILL_JULY']
['BILL_JUNE']
['BILL_MAY']
['BILL_APRIL']
['PAY_SEPT']
['PAY_AUG']
['PAY_JULY']
['PAY_JUNE']
['PAY_MAY']
['PAY_APRIL']
['AGE']
['SEX']
['EDUCATION']
['MARRIAGE']
['DEFAULT']

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Perceptron

# 定义特征变量和目标变量



feature = data[['BILL_SEPT',
'BILL_AUG',
'BILL_JULY',
'BILL_JUNE',
'BILL_MAY',
'BILL_APRIL',
'PAY_SEPT',
'PAY_AUG',
'PAY_JULY',
'PAY_JUNE',
'PAY_MAY',
'PAY_APRIL',
'AGE',
'SEX',
'EDUCATION',
'MARRIAGE'
]].values
target = data['DEFAULT'].values

# 对数据集进行切分，70% 为训练集，30% 为测试集。
X_train, X_test, y_train, y_test = train_test_split(
    feature, target, test_size=0.3, random_state=50)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((14700, 16), (6300, 16), (14700,), (6300,))

In [8]:
# 构建模型
model = Perceptron(max_iter=1000, tol=1e-3)
# 训练模型
model.fit(X_train, y_train)
# 预测
results = model.predict(X_test)
results

ValueError: could not convert string to float: 'Female'

In [9]:
from sklearn.tree import DecisionTreeClassifier

# 建立模型
model = DecisionTreeClassifier()
# 模型训练
model.fit(feature, target)

ValueError: could not convert string to float: 'Female'